NLMODGMP/Geoportal 1.x/nlmodgmp/xsd/nlmod/NLMODGMP_DGEO_Detailering.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--...................................................................
    Bestand:        Detailering XSD voor DGeo
    Omschrijving:   Detailstukken van het Metadataprofiel NLMODGMP voor de 
                    producent DGeo is verwerkt in deze sub XSD
    Versie:         1.2
    Auteur:         D. Stoepker | IVENT/A&A/DM3/UNIT2
    
    Historie:
    1.0             18-10-2013
    1.1             24-10-2013    Language naar gmd:LanguageCode
    1.2             22-01-2014    Wijzigingen doorgevoerd aan status
                                  naar gmd:MD_ProgressCode
    ................................................................-->
<xs:schema xmlns:nmp="http://geoportaal.mindef.nl/nmp" 
           xmlns:gmd="http://www.isotc211.org/2005/gmd" 
           xmlns:gco="http://www.isotc211.org/2005/gco" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://geoportaal.mindef.nl/nmp" 
           elementFormDefault="qualified" version="0.1">
  <!--...................................................................
    Imports van de ISO XSD's
    ................................................................-->
  <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd" />
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/spatialRepresentation.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/metadataExtension.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/content.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/citation.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/portrayalCatalogue.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/dataQuality.xsd"/>

  <!--...................................................................
    1. Uitwerking van MD_Identification
    ................................................................-->
  <xs:complexType name="MD_Identification_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <!-- Zie 1.1 voor CI_Citation_PropertyType -->
          <xs:element name="citation" type="nmp:CI_Citation_PropertyType" />
          <xs:element name="dgaProductnumber" type="gco:Integer_PropertyType" minOccurs="0" />
          <xs:element name="abstract" type="gco:CharacterString_PropertyType" />
          <xs:element name="status" type="gmd:MD_ProgressCode_PropertyType" />
          <xs:element name="resourceProductSpecification" type="gco:CharacterString_PropertyType" minOccurs="0" />
          <!-- Zie 1.2 voor CI_ResponsibleParty_PropertyType -->
          <xs:element name="pointOfContact" type="nmp:CI_ResponsibleParty_PropertyType" maxOccurs="unbounded" />
          <!-- Zie 1.3 voor MD_Keywords_PropertyType -->
          <xs:element name="descriptiveKeywords" type="nmp:MD_Keywords_PropertyType" maxOccurs="unbounded"  />
          <!-- Zie 1.4 voor MD_DataIdentification_PropertyType -->
          <xs:element name="dataIdentification" type="nmp:MD_DataIdentification_PropertyType" />
          <!-- Zie 1.5 voor MD_MaintenanceInformation_PropertyType -->
          <xs:element name="resourceMaintenance" type="nmp:MD_MaintenanceInformation_PropertyType" />
          <!-- Zie 1.6 voor MD_Constraints_PropertyType -->
          <xs:element name="resourceConstraints" type="nmp:MD_Constraints_PropertyType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Identification" type="nmp:MD_Identification_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Identification_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Identification"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.1. Uitwerking van CI_Citation
    ................................................................-->
  <xs:complexType name="CI_Citation_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="title" type="gco:CharacterString_PropertyType"/>
          <xs:element name="edition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
          <!-- Zie 1.1.1 voor MD_Identifier_PropertyType -->
          <xs:element name="identifier" type="nmp:MD_Identifier_PropertyType" />
          <!-- Zie 1.1.2 voor CI_Series_PropertyType -->
          <xs:element name="series" type="nmp:CI_Series_PropertyType" minOccurs="0"/>
          <xs:element name="date" type="gmd:CI_Date_PropertyType" maxOccurs="3" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="CI_Citation" type="nmp:CI_Citation_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_Citation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:CI_Citation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.1.1. Uitwerking van MD_Identifier
    ................................................................-->
  <xs:complexType name="MD_Identifier_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="code" type="gco:CharacterString_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Identifier" type="nmp:MD_Identifier_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Identifier_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Identifier"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType> 
  
  <!--...................................................................
    1.1.2. Uitwerking van CI_Series
    ................................................................-->
  <xs:complexType name="CI_Series_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="CI_Series" type="nmp:CI_Series_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_Series_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:CI_Series"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.2. Uitwerking van CI_ResponsibleParty
    ................................................................-->
  <xs:complexType name="CI_ResponsibleParty_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="organisationName" type="gco:CharacterString_PropertyType" />
          <xs:element name="role" type="gmd:CI_RoleCode_PropertyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="CI_ResponsibleParty" type="nmp:CI_ResponsibleParty_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_ResponsibleParty_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:CI_ResponsibleParty"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.3. Uitwerking van MD_Keywords
    ................................................................-->
  <xs:complexType name="MD_Keywords_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="keyword" type="gco:CharacterString_PropertyType" maxOccurs="unbounded"/>
          <xs:element name="thesaurusName" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <!-- Er wordt geen gebruik gemaakt van CI_Citation uit 1.1, vanwege andere velden -->
                <xs:element name="CI_Citation">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="title" type="gco:CharacterString_PropertyType"/>
                      <xs:element name="date" type="gmd:CI_Date_PropertyType" maxOccurs="3"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Keywords" type="nmp:MD_Keywords_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Keywords_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Keywords"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
    
  <!--...................................................................
    1.4. Uitwerking van MD_DataIdentification
    ................................................................-->
  <xs:complexType name="MD_DataIdentification_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="spatialRepresentationType" type="gmd:MD_SpatialRepresentationTypeCode_PropertyType" minOccurs="0" />
          <xs:element name="supplemetalInformation" type="gco:CharacterString_PropertyType" minOccurs="0" />
          <xs:element name="mapMarginaliaNotes" type="gco:CharacterString_PropertyType" minOccurs="0" />
          <!-- Zie 1.4.1 voor EX_Extent_PropertyType -->
          <xs:element name="extent" type="nmp:EX_Extent_PropertyType" />
          <xs:element name="resourceEstimatedHorizontalAccuracy" type="gco:Real_PropertyType" minOccurs="0" />
          <xs:element name="resourceEstimatedVerticalAccuracy" type="gco:Real_PropertyType" minOccurs="0" />
          <xs:element name="language" type="gmd:LanguageCode_PropertyType" maxOccurs="unbounded" />
          <xs:element name="characterSet" type="gmd:MD_CharacterSetCode_PropertyType" />
          <!-- Zie 1.4.2 voor MD_Resolution_PropertyType -->
          <xs:element name="resourceEquivalentScale" type="nmp:MD_Resolution_PropertyType" minOccurs="0" maxOccurs="2" />
          <xs:element name="distance" minOccurs="0" maxOccurs="2">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MD_Resolution">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="distance" type="gco:Distance_PropertyType"/>                        
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>         
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_DataIdentification" type="nmp:MD_DataIdentification_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_DataIdentification_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_DataIdentification"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.4.1. Uitwerking van EX_Extent_PropertyType
    ................................................................-->
  <xs:complexType name="EX_Extent_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <!-- Zie 1.4.1.1 voor EX_GeographicBoundingBox_Type -->
          <xs:element name="geographicElement" type="nmp:EX_GeographicBoundingBox_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="EX_Extent" type="nmp:EX_Extent_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="EX_Extent_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:EX_Extent"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.4.1.1. Uitwerking van EX_GeographicBoundingBox
    ................................................................-->
  <xs:complexType name="EX_GeographicBoundingBox_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="westBoundLongitude" type="gco:Decimal_PropertyType"/>
          <xs:element name="eastBoundLongitude" type="gco:Decimal_PropertyType"/>
          <xs:element name="southBoundLatitude" type="gco:Decimal_PropertyType"/>
          <xs:element name="northBoundLatitude" type="gco:Decimal_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="EX_GeographicBoundingBox" type="nmp:EX_GeographicBoundingBox_Type" />
  <!-- ........................................................................ -->
  <xs:complexType name="EX_GeographicBoundingBox_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:EX_GeographicBoundingBox"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.4.2. Uitwerking van MD_Resolution
    ................................................................-->
  <xs:complexType name="MD_Resolution_Type">
    <xs:choice>
      <xs:element name="equivalentScale" type="gco:Decimal_PropertyType"/>
    </xs:choice>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Resolution" type="nmp:MD_Resolution_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Resolution_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Resolution"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.5. Uitwerking van MD_MaintenanceInformation
    ................................................................-->
  <xs:complexType name="MD_MaintenanceInformation_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="maintenanceAndUpdateFrequency" type="gmd:MD_MaintenanceFrequencyCode_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_MaintenanceInformation" type="nmp:MD_MaintenanceInformation_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_MaintenanceInformation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_MaintenanceInformation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.6. Uitwerking van MD_Constraints
    ................................................................-->
  <xs:complexType name="MD_Constraints_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>          
          <!-- Zie 1.6.1 voor MD_SecurityConstraints_PropertyType -->
          <xs:element name="securityConstraints" type="nmp:MD_SecurityConstraints_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Constraints" type="nmp:MD_Constraints_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Constraints_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Constraints"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    1.6.1. Uitwerking van MD_SecurityConstraints
    ................................................................-->
  <xs:complexType name="MD_SecurityConstraints_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="useLimitation" type="gco:CharacterString_PropertyType" maxOccurs="unbounded"/>
          <xs:element name="classification" type="gmd:MD_ClassificationCode_PropertyType"/>
          <xs:element name="classificationSystem" type="gco:CharacterString_PropertyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_SecurityConstraints" type="nmp:MD_SecurityConstraints_Type" />
  <!-- ........................................................................ -->
  <xs:complexType name="MD_SecurityConstraints_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_SecurityConstraints"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    2. Uitwerking van MD_Distribution
    ................................................................-->
  <xs:complexType name="MD_Distribution_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <!-- Zie 2.1 voor MD_Format_PropertyType -->
          <xs:element name="distributorFormat" type="nmp:MD_Format_PropertyType" />
          <xs:element name="distributor" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MD_Distributor">
                  <xs:complexType>
                    <xs:sequence>
                      <!-- Zie 1.2 voor CI_ResponsibleParty_PropertyType -->
                      <xs:element name="distributorContact" type="nmp:CI_ResponsibleParty_PropertyType" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- Zie 2.2 voor MD_DigitalTransferOptions_PropertyType -->
          <xs:element name="transferOptions" type="nmp:MD_DigitalTransferOptions_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Zie 2.3 voor MD_StandardOrderProcess_PropertyType -->
          <xs:element name="distributionOrderProcess" type="nmp:MD_StandardOrderProcess_PropertyType" minOccurs="0" maxOccurs="unbounded"/>        
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Distribution" type="nmp:MD_Distribution_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Distribution_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Distribution"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    2.1. Uitwerking van MD_Format
    ................................................................-->
  <xs:complexType name="MD_Format_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType"/>
          <xs:element name="version" type="gco:CharacterString_PropertyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Format" type="nmp:MD_Format_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Format_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Format"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    2.2. Uitwerking van MD_DigitalTransferOptions
    ................................................................-->
  <xs:complexType name="MD_DigitalTransferOptions_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <!-- Zie 2.2.1 voor CI_OnlineResource_PropertyType -->
          <xs:element name="onLine" type="nmp:CI_OnlineResource_PropertyType" minOccurs="0" maxOccurs="1"/>
          <!-- Zie 2.2.2 voor MD_Medium_PropertyType -->
          <xs:element name="offLine" type="nmp:MD_Medium_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_DigitalTransferOptions" type="nmp:MD_DigitalTransferOptions_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_DigitalTransferOptions_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_DigitalTransferOptions"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    2.2.1. Uitwerking van CI_OnlineResource
    ................................................................-->
  <xs:complexType name="CI_OnlineResource_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="CI_OnlineResource" type="nmp:CI_OnlineResource_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_OnlineResource_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:CI_OnlineResource"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    2.2.2. Uitwerking van MD_Medium
    ................................................................-->
  <xs:complexType name="MD_Medium_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gmd:MD_MediumNameCode_PropertyType" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_Medium" type="nmp:MD_Medium_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Medium_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_Medium"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>  
  
  <!--...................................................................
    2.3. Uitwerking van MD_StandardOrderProcess
    ................................................................-->
  <xs:complexType name="MD_StandardOrderProcess_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="orderingInstructions" type="gco:CharacterString_PropertyType" />
          <xs:element name="turnaround" type="gco:CharacterString_PropertyType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="MD_StandardOrderProcess" type="nmp:MD_StandardOrderProcess_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_StandardOrderProcess_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_StandardOrderProcess"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    3. Uitwerking van DQ_DataQuality
    ................................................................-->
  <xs:complexType name="DQ_DataQuality_Type">    
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <!-- Zie 3.1 voor DQ_Scope -->
          <xs:element name="scope" type="nmp:DQ_Scope_PropertyType" />
          <!-- Zie 3.2 voor LI_Lineage_PropertyType -->
          <xs:element name="lineage" type="nmp:LI_Lineage_PropertyType" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="DQ_DataQuality" type="nmp:DQ_DataQuality_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="DQ_DataQuality_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:DQ_DataQuality"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    3.1. Uitwerking van DQ_Scope
    ................................................................-->
  <xs:complexType name="DQ_Scope_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="level" type="gmd:MD_ScopeCode_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="DQ_Scope" type="nmp:DQ_Scope_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="DQ_Scope_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:DQ_Scope"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    3.2. Uitwerking van LI_Lineage
    ................................................................-->
  <xs:complexType name="LI_Lineage_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="statement" type="gco:CharacterString_PropertyType" />
          <xs:element name="LI_ProcessStep" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>              
              <xs:sequence>
                <xs:element name="dateTime" type="gco:DateTime_PropertyType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ........................................................................ -->
  <xs:element name="LI_Lineage" type="nmp:LI_Lineage_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="LI_Lineage_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:LI_Lineage"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  
  <!--...................................................................
    4. Uitwerking van MD_ContentInformation
    ................................................................-->
  <xs:complexType name="MD_ContentInformation_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="MD_CoverageDescription">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MD_ImageDescription">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="cloudCoverPercentage" type="gco:Integer_PropertyType" minOccurs="0" />
                      <xs:element name="rasterNumberOfLayers" type="gco:Integer_PropertyType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_ContentInformation" type="nmp:MD_ContentInformation_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ContentInformation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="nmp:MD_ContentInformation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType> 

</xs:schema>